<canvas class="canvas" id="claim-background">
</canvas>

<section class="claim">

  <div class="header">
    <a href="/" class="logo">
      <img src="public/logo.png" alt="Logo">
    </a>
    
    <div class="menu">
      <a href="/">Home</a>
      <a>｜</a>
      <a href="/arcade">Arcade</a>
    </div>
  </div>


  <div class="cards">

    <a class="cards-header first" id="claim-cards-header-first">
      <p class="mint">Description</p>
    </a>
    
    <div class="content {if.query.section.description}" id="claim-cards-content-first">
      <a class="card lg">
        <div class="card-header">
          <img src="public/warning.png" alt="">
          <div class="card-header-title">
            <h3>Please notice that the NFT might not have REAL value that bought from my collections or minted from my
              contract.</h3>
          </div>
        </div>
        <div class="card-content">
          But it shows you enjoy with my work.
        </div>
    
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/thank-you.png" alt="00001">
        </div>
        <div class="information">
          <p class="card-status">I will be grateful for all that you do.</p>
        </div>
      </a>
    </div>

    <a class="cards-header" id="claim-cards-header-second">
      <p class="buy">Pick a Peak</p>
    </a>

    <div class="content {if.query.section.pick}" id="claim-cards-content-second">
      <a class="card">
        <div class="card-header">
          <img src="public/view_in_ar.png" alt="">
          <div class="card-header-title">
            <h3># 00001</h3>
            <div class="card-header-title-second">
              <p>100 USDC</p>
              <p>12 Nov 2021</p>
            </div>
          </div>
        </div>
        <div class="card-content">
          Sphere: 300<br />Cube: 200<br />Triangle: 100
        </div>
      
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/collection1.jpg" alt="00001">
        </div>
        <div class="information">
          <p class="card-status">For sale</p>
        </div>
      </a>

      <a class="card">
        <div class="card-header">
          <img src="public/view_in_ar.png" alt="">
          <div class="card-header-title">
            <h3># 00001</h3>
            <div class="card-header-title-second">
              <p>100 USDC</p>
              <p>12 Nov 2021</p>
            </div>
          </div>
        </div>
        <div class="card-content">
          Sphere: 300<br />Cube: 200<br />Triangle: 100
        </div>
      
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/collection2.jpg" alt="00001">
        </div>
        <div class="information">
          <p class="card-status">For sale</p>
        </div>
      </a>

      <a class="card">
        <div class="card-header">
          <img src="public/view_in_ar.png" alt="">
          <div class="card-header-title">
            <h3># 00001</h3>
            <div class="card-header-title-second">
              <p>100 USDC</p>
              <p>12 Nov 2021</p>
            </div>
          </div>
        </div>
        <div class="card-content">
          Sphere: 300<br />Cube: 200<br />Triangle: 100
        </div>
      
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/collection3.jpg" alt="00001">
        </div>
        <div class="information">
          <p class="card-status">For sale</p>
        </div>
      </a>

      <a class="card">
        <div class="card-header">
          <img src="public/view_in_ar.png" alt="">
          <div class="card-header-title">
            <h3># 00001</h3>
            <div class="card-header-title-second">
              <p>100 USDC</p>
              <p>12 Nov 2021</p>
            </div>
          </div>
        </div>
        <div class="card-content">
          Sphere: 300<br />Cube: 200<br />Triangle: 100
        </div>
      
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/collection4.jpg" alt="00001">
        </div>
        <div class="information">
          <p class="card-status">For sale</p>
        </div>
      </a>

      <a class="card">
        <div class="card-header">
          <img src="public/view_in_ar.png" alt="">
          <div class="card-header-title">
            <h3># 00001</h3>
            <div class="card-header-title-second">
              <p>100 USDC</p>
              <p>12 Nov 2021</p>
            </div>
          </div>
        </div>
        <div class="card-content">
          Sphere: 300<br />Cube: 200<br />Triangle: 100
        </div>
      
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/collection5.jpg" alt="00001">
        </div>
        <div class="information">
          <p class="card-status">For sale</p>
        </div>
      </a>

    </div>
    
    <a class="cards-header" id="claim-cards-header-third">
      <p class="mint">Mint a Peak</p>
    </a>
    
    <div class="content {if.query.section.mint}" id="claim-cards-content-third">
      <a class="card">
        <div class="card-header">
          <img src="public/view_in_ar.png" alt="">
          <div class="card-header-title">
            <h3># ?????</h3>
            <div class="card-header-title-second">
              <p>10 USDC</p>
              <p>today</p>
            </div>
          </div>
        </div>
        <div class="card-content">
          Wait for you to mint
        </div>
      
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/molten.png" alt="00001">
        </div>
        <div class="information">
          <p class="card-status">Mint it yourself</p>
        </div>
      </a>
    </div>

    <a class="cards-header last">
      <p class="collapse">Claim a peak</p>
    </a>

  </div>  

</section>

<script type="module" src="public/claim.js"></script>