<section class="showcase">
  <div class="canvas">

  </div>

  <div class="description"></div>

  <div class="title">
    <h1>
      <p>E</p>
      <p>X</p>
      <p>P</p>
      <p>L</p>
      <p>O</p>
      <p>R</p>
      <p>E</p>
    </h1>
    <h2>one hundred peaks in Taiwan</h2>
  </div>

</section>

<section class="gallery">
  <div class="slider">

    <div class="slider-main" id="gallery-main">
      <img class="main-slides" src="public/gallery/test.jpg">
    </div>

    <div class="slider-padding" id="gallery-padding">
      <div class="paddings">
        <img class="padding opacity90" src="public/gallery/test.jpg" onclick="currentSlide(1)">
      </div>
      <div class="paddings">
        <img class="padding opacity50" src="public/gallery/test.jpg" onclick="currentSlide(1)">
      </div>
      <div class="paddings">
        <img class="padding opacity50" src="public/gallery/test.jpg" onclick="currentSlide(1)">
      </div>
      <div class="paddings">
        <img class="padding opacity50" src="public/gallery/test.jpg" onclick="currentSlide(1)">
      </div>
      <div class="paddings">
        <img class="padding opacity50" src="public/gallery/test.jpg" onclick="currentSlide(1)">
      </div>
    
    </div>
  </div>

  <div class="description">
    <h2 class="title">what a awesome view</h2>
    <h3 class="content">Take a deep breath, get away from rush world, leave the noise away, just in your moment</h3>
    <h3 class="datetime">Film date: 11 Nov 2021</h3>

  </div>
</section>

<section class="product">

  <div class="product-list" id="product-list">

    <div class="card">
      <div class="thumbnail">
        <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
      </div>
      <div class="information">
        <h4># 00001</h4>
        <h4>
          <p>Sphere: 300</p>
          <p>Cube: 200</p>
          <p>Triangle: 100</p>
        </h4>
      </div>
    </div>

    <div class="card">
      <div class="thumbnail">
        <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
      </div>
      <div class="information">
        <h4># 00001</h4>
        <h4>100 USDC</h4>
        <h4>
          <p>Sphere: 300</p>
          <p>Cube: 200</p>
          <p>Triangle: 100</p>
        </h4>
      </div>
    </div>

    <div class="card">
      <div class="thumbnail">
        <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
      </div>
      <div class="information">
        <h4># 00001</h4>
        <h4>100 USDC</h4>
        <h4>
          <p>Sphere: 300</p>
          <p>Cube: 200</p>
          <p>Triangle: 100</p>
        </h4>
      </div>
    </div>

    <div class="card">
      <div class="thumbnail">
        <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
      </div>
      <div class="information">
        <h4># 00001</h4>
        <h4>100 USDC</h4>
        <h4>
          <p>Sphere: 300</p>
          <p>Cube: 200</p>
          <p>Triangle: 100</p>
        </h4>
      </div>
    </div>

    <div class="card">
      <div class="thumbnail">
        <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
      </div>
      <div class="information">
        <h4># 00001</h4>
        <h4>100 USDC</h4>
        <h4>
          <p>Sphere: 300</p>
          <p>Cube: 200</p>
          <p>Triangle: 100</p>
        </h4>
      </div>
    </div>

    <div class="card">
      <div class="thumbnail">
        <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
      </div>
      <div class="information">
        <h4># 00001</h4>
        <h4>100 USDC</h4>
        <h4>
          <p>Sphere: 300</p>
          <p>Cube: 200</p>
          <p>Triangle: 100</p>
        </h4>
      </div>
    </div>

  </div>

  <div class="title">
    <h3 class="title">My collection</h3>
    <p class="subtitle">minted with my contract</p>
  </div>

  <div class="description">
    
    
    <div class="content">
      <p>Mint a random <br /> "One Hundred Peaks in Taiwan" <br /> NFT with the same contract.</p>
      <a href="/claim/all">GO TO MINT</a>
    </div>

    <div class="information">
      <div class="total">
        <img src="public/view_in_ar.png" style="height:24px;width:24px;" alt="">
        <p>Total</p>
        <p>supply</p>
        <p>10.000</p>
      </div>
      
      <div class="minted">
        <img src="public/approval.png" style="height:24px;width:24px;" alt="">
        <p>Minted</p>
        <p>amount</p>
        <p id="minted-amount">9.999</p>
      </div>

      <div class="notice">
        <img src="public/warning.png" style="height:24px;width:24px;" alt="">
        <p>Please notice that the NFT might not have REAL value that bought from my collections or minted from my contract.
        </p>
        <p>But it shows you enjoy with my work. <br /> I will be grateful for all that you do.</p>
      </div>
      
    </div>

  </div>
</section>