<div class="header opacity75">

  <div class="custom-shape-divider-top-1641922047">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"></path>
    </svg>
  </div>

  <a href="/" class="logo">
    <img src="public/logo.png" alt="Logo">
  </a>

  <div class="menu">
    <a href="/">Home</a>
    <a>｜</a>
    <a href="/claim/all">Arcade</a>
  </div>

</div>

<section class="showcase">
  <canvas class="canvas" id="showcase">
    <script type="module" src="public/index.js"></script>
  </canvas>

  <div class="description">
    <p>Mountains cover about two-thirds of the eastern region of Taiwan. Whereas the western side consists of plains and the
  majority of its major cities and settlements. Because Taiwan is situated on the Ring of Fire, there are an estimated
  1,000+ earthquakes that occur in Taiwan every year. <br /><br />The Central Mountain Range (Chungyang Mountains) is the major
  mountain range that runs from north to south in the east. At 3,952 m (12,966 ft), Jade Mountain (Yushan) is the highest
  peak in Taiwan. Its elevation makes it the 4th highest out of any island in the world.</p>
</div>

  <div class="title">
    <h1>
      <p>E</p>
      <p>X</p>
      <p>P</p>
      <p>L</p>
      <p>O</p>
      <p>R</p>
      <p>E</p>
    </h1>
    <h2>one hundred peaks in Taiwan</h2>
  </div>

</section>

<section class="gallery">
  <div class="slider">

    <div class="slider-main">
      <img class="main-slides" id="gallery-main-img" src="public/gallery/gallery1.jpg">
    </div>

    <div class="slider-padding" id="gallery-padding">
      <a class="paddings">
        <img class="padding opacity90" src="public/gallery/gallery1.jpg">
      </a>
      <a class="paddings">
        <img class="padding opacity50" src="public/gallery/gallery2.jpg">
      </a>
      <a class="paddings">
        <img class="padding opacity50" src="public/gallery/gallery3.jpg">
      </a>
      <a class="paddings">
        <img class="padding opacity50" src="public/gallery/gallery4.jpg">
      </a>
      <a class="paddings">
        <img class="padding opacity50" src="public/gallery/gallery5.jpg">
      </a>
    
    </div>
  </div>

  <div class="description">
    <h2 class="title">what a awesome view</h2>
    <h3 class="content">Take a deep breath, get away from rush world, leave the noise away, just in your moment</h3>
    <h3 class="datetime">2021</h3>

  </div>
</section>

<section class="product">

  <div class="product-list">
    <div class='pagination'>
      <a class='dot active'></a>
      <a class='dot'></a>
      <a class='dot'></a>
      <a class='dot'></a>
      <a class='dot'></a>
    </div>

    <ul class='cards'>

      <li class='card active'>
        <div class='thumbnail'>
          <img class="card-image" src="public/gallery/collection1.jpg" alt="00001">
        </div>
      </li>

      <li class='card'>
        <div class='thumbnail'>
          <img class="card-image" src="public/gallery/collection2.jpg" alt="00002">
        </div>
      </li>

      <li class='card'>
        <div class='thumbnail'>
          <img class="card-image" src="public/gallery/collection3.jpg" alt="00002">
        </div>
      </li>

      <li class='card'>
        <div class='thumbnail'>
          <img class="card-image" src="public/gallery/collection4.jpg" alt="00002">
        </div>
      </li>

      <li class='card'>
        <div class='thumbnail'>
          <img class="card-image" src="public/gallery/collection5.jpg" alt="00002">
        </div>
      </li>
      
    </ul>

    <div class="button">
      <a href="#" class="product-list-button left">＜＜</a>
      <a href="#" class="product-list-button right">＞＞</a>
    </div>

  </div>

  <div class="title">
    <h3 class="title">My collection</h3>
    <p class="subtitle">minted with my contract</p>
  </div>

  <div class="description">
    
    
    <div class="content">
      <p>Mint a random <br /> "One Hundred Peaks in Taiwan" <br /> NFT with the same contract.</p>
      <a href="/claim/all">GO TO MINT</a>
    </div>

    <div class="information">
      <div class="total-supply">
        <div class="total-supply-title">
          <img src="public/view_in_ar.png" style="height:24px;width:24px;" alt="">
          <p>Total</p>
          <p>supply</p>
        </div>
        <p class="number">10.000</p>
      </div>
      
      <div class="minted">
        <div class="minted-title">
          <img src="public/approval.png" style="height:24px;width:24px;" alt="">
          <p>Minted</p>
          <p>amount</p>
        </div>
        <p class="number" id="minted-amount">9.999</p>
      </div>
      
    </div>

  </div>
</section>

<div class="footer opacity75">

  <div class="custom-shape-divider-bottom-1641921850">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25" class="shape-fill"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5" class="shape-fill"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"></path>
    </svg>
  </div>

</div>