<section class="showcase">
  <canvas class="canvas" id="showcase">
    <script type="module" src="public/three.js"></script>
  </canvas>

  <div class="description">
    <p>Mountains cover about two-thirds of the eastern region of Taiwan. Whereas the western side consists of plains and the
  majority of its major cities and settlements. Because Taiwan is situated on the Ring of Fire, there are an estimated
  1,000+ earthquakes that occur in Taiwan every year. <br /><br />The Central Mountain Range (Chungyang Mountains) is the major
  mountain range that runs from north to south in the east. At 3,952 m (12,966 ft), Jade Mountain (Yushan) is the highest
  peak in Taiwan. Its elevation makes it the 4th highest out of any island in the world.</p>
</div>

  <div class="title">
    <h1>
      <p>E</p>
      <p>X</p>
      <p>P</p>
      <p>L</p>
      <p>O</p>
      <p>R</p>
      <p>E</p>
    </h1>
    <h2>one hundred peaks in Taiwan</h2>
  </div>

</section>

<section class="gallery">
  <div class="slider">

    <div class="slider-main" id="gallery-main">
      <img class="main-slides" src="public/gallery/test.jpg">
    </div>

    <div class="slider-padding" id="gallery-padding">
      <div class="paddings">
        <img class="padding opacity90" src="public/gallery/test.jpg" onclick="currentSlide(1)">
      </div>
      <div class="paddings">
        <img class="padding opacity50" src="public/gallery/test.jpg" onclick="currentSlide(1)">
      </div>
      <div class="paddings">
        <img class="padding opacity50" src="public/gallery/test.jpg" onclick="currentSlide(1)">
      </div>
      <div class="paddings">
        <img class="padding opacity50" src="public/gallery/test.jpg" onclick="currentSlide(1)">
      </div>
      <div class="paddings">
        <img class="padding opacity50" src="public/gallery/test.jpg" onclick="currentSlide(1)">
      </div>
    
    </div>
  </div>

  <div class="description">
    <h2 class="title">what a awesome view</h2>
    <h3 class="content">Take a deep breath, get away from rush world, leave the noise away, just in your moment</h3>
    <h3 class="datetime">Film date: 11 Nov 2021</h3>

  </div>
</section>

<section class="product">

  <div class="product-list" id="product-list">

    <div class="card-main">
      <div class="card">
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
        </div>
      </div>
    </div>    

    <div class="card-padding">
      <div class="card">
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
        </div>
      </div>

      <div class="card opacity50">
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
        </div>
      </div>

      <div class="card opacity50">
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
        </div>
      </div>

      <div class="card opacity50">
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
        </div>
      </div>

      <div class="card opacity50">
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
        </div>
      </div>

      <div class="card opacity50">
        <div class="thumbnail">
          <img class="card-image" src="public/gallery/VANGUO.jpg" alt="00001">
        </div>
      </div>
    </div>

    <div class="card-information">
      <h4># 00001</h4>
      <h4>
        <p>Sphere: 300</p>
        <p>Cube: 200</p>
        <p>Triangle: 100</p>
      </h4>
    </div>

  </div>

  <div class="title">
    <h3 class="title">My collection</h3>
    <p class="subtitle">minted with my contract</p>
  </div>

  <div class="description">
    
    
    <div class="content">
      <p>Mint a random <br /> "One Hundred Peaks in Taiwan" <br /> NFT with the same contract.</p>
      <a href="/claim/all">GO TO MINT</a>
    </div>

    <div class="information">
      <div class="total-supply">
        <div class="total-supply-title">
          <img src="public/view_in_ar.png" style="height:24px;width:24px;" alt="">
          <p>Total</p>
          <p>supply</p>
        </div>
        <p class="number">10.000</p>
      </div>
      
      <div class="minted">
        <div class="minted-title">
          <img src="public/approval.png" style="height:24px;width:24px;" alt="">
          <p>Minted</p>
          <p>amount</p>
        </div>
        <p class="number" id="minted-amount">9.999</p>
      </div>
      
    </div>

  </div>
</section>