:root {
  --green: #236f21;
  --blue: #214a6f;
  --brown: #6f4621;
  --white: #c3c3c3;
  --true-white: #ddd;
  --black: #3c3c3c;
  --blackO50: rgba(60, 60, 60, 0.5);
  --true-black: #222;
  --rainbow-1: #216f61;
  --rainbow-2: #213a6f;
  --rainbow-3: #6f2150;
  --rainbow-4: #6f3521;
  --rainbow-5: #666f21;
}

/* reset css */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover,
button:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required,
input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* main */
body {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
  font-family: "Noto Sans TC", sans-serif;
}

div.header {
  position: sticky;
  top: 0;
  left: 0;
}

div.header a.logo img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 0 10px calc(100vw / 10);
  width: 58.6px;
  height: 33.7px;
}

div.header div.menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px calc(100vw / 10) 10px 0;
  display: flex;
  flex-flow: row nowrap;
}

div.header div.menu a {
  color: var(--black);
  letter-spacing: 1px;
}

div.footer {
  position: sticky;
  bottom: 0;
  left: 0;
}

section {
  height: 100vh;
  padding: 80px 2vw;
}

.opacity50 {
  opacity: 0.5;
}

.opacity75 {
  opacity: 0.75;
}

.opacity90 {
  opacity: 0.9;
}

.d-none {
  display: none !important;
}

/* section showcase */

section.showcase {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--blue);
}

section.showcase canvas.canvas {
  min-width: 375px;
  min-height: 375px;
  max-width: 98vw;
  max-height: calc(98vw);
}

section.showcase div.description {
  flex: 1 0 0;
  font-size: calc(100vw / 32);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2vw;
}

section.showcase div.title h1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: calc(100vw / 7);
}

section.showcase div.title h2 {
  text-align: center;
  font-size: calc(100vw / 16);
}

@media screen and (orientation: landscape) {
  section.showcase {
    flex-flow: row nowrap;
  }

  section.showcase canvas.canvas {
    max-width: 50vw;
    max-height: calc(100vh - 160px);
  }

  section.showcase div.description {
    font-size: calc(100vh / 44);
  }

  section.showcase div.title {
    display: flex;
    flex-flow: column nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  section.showcase div.title h1 {
    font-size: calc(100vh / 7);
  }

  section.showcase div.title h2 {
    font-size: calc(100vh / 28);
  }
}

/* section gallery */
section.gallery {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--green);
}

section.gallery div.slider {
  display: flex;
  flex-flow: column nowrap;
}

section.gallery div.slider div.slider-main {
  width: 100%;
  height: calc(100% - 20%);
  padding: calc(100vh / 25) 0 calc(100vh / 50);
}

section.gallery div.slider div.slider-main img,
section.gallery div.slider div.slider-padding img {
  object-fit: cover;
}

section.gallery div.slider div.slider-padding {
  display: flex;
  flex-flow: row nowrap;
  gap: calc(100vw / 50);
}

section.gallery div.description h2.title {
  font-size: calc(100vw / 14);
  margin: calc(100vh / 20) 0;
  font-weight: 700;
}

section.gallery div.description h3 {
  font-size: calc(100vw / 21);
  margin: calc(100vh / 40) 0;
  font-weight: 500;
}

section.gallery div.description h3.datetime {
  font-size: calc(100vw / 28);
  text-align: right;
  font-weight: 400;
}

@media screen and (orientation: landscape) {
  section.gallery {
    flex-flow: row nowrap;
  }

  section.gallery div.slider {
    max-height: calc(100vh - 160px);
    max-width: calc(60vw);
  }

  section.gallery div.description {
    flex: 1 0 0;
    padding: calc(100vh / 50);
    align-self: center;
  }

  section.gallery div.description h2.title {
    font-size: calc(100vh / 28);
    margin: calc(100vh / 40) 0;
  }

  section.gallery div.description h3 {
    font-size: calc(100vh / 42);
    margin: calc(100vh / 80) 0;
  }

  section.gallery div.description h3.datetime {
    font-size: calc(100vh / 56);
    text-align: left;
  }
}

/* section product */
section.product {
  background-color: var(--black);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

section.product div.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--white);
  color: var(--black);
}

section.product div.product-list div.card-main {
  width: calc(100% / 7 * 6);
}

section.product div.product-list div.card-padding {
  width: calc(100% / 7);
  display: flex;
  flex-flow: column nowrap;
}

section.product div.product-list div.card-padding div.card {
  visibility: hidden;
}

section.product div.product-list div.card-padding div.card.opacity50 {
  visibility: visible;
}

section.product div.product-list div.card-information {
  width: calc(100% / 7 * 6);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 5px;
}

section.product div.product-list div.card-information h4 {
  font-size: 10px;
  font-weight: 400;
}

section.product div.title {
  color: var(--true-white);
}

section.product div.title h3.title {
  font-weight: 700;
  font-size: 14vw;
  line-height: 14vw;
  text-align: right;
}

section.product div.title p {
  font-weight: 500;
  font-size: 3vw;
  line-height: 3vw;
  text-align: right;
}

section.product div.description {
  background-color: var(--white);
  color: var(--black);
  border-radius: 10px;
  padding: 10px;
}

section.product div.description div.content {
  font-size: 3vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

section.product div.description div.content p {
  width: 70%;
}

section.product div.description div.content a {
  width: 25%;
  border-radius: 50px;
  line-height: 10vw;
  text-align: center;
  vertical-align: middle;
  background-color: var(--rainbow-1);
  color: var(--white);
}

section.product div.description div.information {
  margin: 10px 0;
  font-size: 4vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

section.product
  div.description
  div.information
  div.total-supply
  div.total-supply-title,
section.product div.description div.information div.minted div.minted-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

section.product div.description div.information div.total-supply p.number,
section.product div.description div.information div.minted p.number {
  font-size: 10vw;
  text-align: center;
}

section.product
  div.description
  div.information
  div.total-supply
  div.total-supply-title
  p,
section.product div.description div.information div.minted div.minted-title p {
  margin-left: 2vw;
}

@media screen and (orientation: landscape) {
  section.product {
    flex-flow: row nowrap;
  }

  section.product div.product-list {
    max-width: 50vw;
  }

  section.product div.title h3.title {
    font-size: 10vh;
    line-height: 10vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  section.product div.title p {
    font-size: 3vh;
    line-height: 3vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  section.product div.title {
    margin: 0 1vw;
    display: flex;
    flex-flow: row-reverse nowrap;
  }

  section.product div.description {
    display: flex;
    flex-flow: column nowrap;
  }

  section.product div.description div.content {
    flex-flow: column nowrap;
    align-items: unset;
    font-size: 2vh;
    flex: 1 0 0;
    justify-content: space-evenly;
  }

  section.product div.description div.content p {
    text-align: center;
    width: 100%;
  }

  section.product div.description div.content a {
    width: 100%;
    margin: 1vh 0;
    line-height: 8vh;
  }

  section.product div.description div.information {
    font-size: 2vh;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1 0 0;
  }

  section.product div.description div.information div.total-supply p.number,
  section.product div.description div.information div.minted p.number {
    font-size: 6vh;
  }
}

/* section mint-buy */
section.mint-buy {
  background-color: var(--true-white);
  color: var(--true-black);
  padding-left: 0;
  padding-right: 0;
}

/* top curve*/
.custom-shape-divider-top-1641922047 {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1641922047 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1641922047 .shape-fill {
  fill: #c3c3c3;
}

/* bottom curve*/
.custom-shape-divider-bottom-1641921850 {
  z-index: -999;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1641921850 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1641921850 .shape-fill {
  fill: #c3c3c3;
}
