:root {
  --green: #236f21;
  --blue: #214a6f;
  --brown: #6f4621;
  --white: #c3c3c3;
  --true-white: #ddd;
  --black: #3c3c3c;
  --blackO50: rgba(60, 60, 60, 0.5);
  --whiteO50: rgba(195, 195, 195, 0.5);
  --true-black: #222;
  --rainbow-1: #216f61;
  --rainbow-2: #213a6f;
  --rainbow-3: #6f2150;
  --rainbow-4: #6f3521;
  --rainbow-5: #666f21;
}

/* reset css */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover,
button:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required,
input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* main */
body {
  position: relative;
  scroll-behavior: smooth;
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
  font-family: "Noto Sans TC", sans-serif;
}

div.main {
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: scroll;
}

div.header {
  position: sticky;
  top: 0;
  left: 0;
}

div.header a.logo img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 0 10px calc(100vw / 10);
  width: 58.6px;
  height: 33.7px;
}

div.header div.menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px calc(100vw / 10) 10px 0;
  display: flex;
  flex-flow: row nowrap;
}

div.header div.menu a {
  color: var(--black);
  letter-spacing: 1px;
}

div.footer {
  position: sticky;
  bottom: 0;
  left: 0;
}

section {
  height: 100vh;
  padding: 80px 2vw;
}

.opacity50 {
  opacity: 0.5;
}

.opacity75 {
  opacity: 0.75;
}

.opacity90 {
  opacity: 0.9;
}

.d-none {
  display: none !important;
}

/* section showcase */

section.showcase {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--blue);
}

section.showcase canvas.canvas#showcase {
  min-width: 375px;
  min-height: 375px;
  max-width: 98vw;
  max-height: calc(98vw);
}

section.showcase div.description {
  flex: 1 0 0;
  font-size: calc(100vw / 32);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2vw;
}

section.showcase div.title h1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: calc(100vw / 7);
}

section.showcase div.title h2 {
  text-align: center;
  font-size: calc(100vw / 16);
}

@media screen and (orientation: landscape) {
  section.showcase {
    flex-flow: row nowrap;
  }

  section.showcase canvas.canvas#showcase {
    max-width: 50vw;
    max-height: calc(100vh - 160px);
  }

  section.showcase div.description {
    font-size: calc(100vh / 44);
  }

  section.showcase div.title {
    display: flex;
    flex-flow: column nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  section.showcase div.title h1 {
    font-size: calc(100vh / 7);
  }

  section.showcase div.title h2 {
    font-size: calc(100vh / 28);
  }
}

/* section gallery */
section.gallery {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--green);
}

section.gallery div.slider {
  display: flex;
  flex-flow: column nowrap;
}

section.gallery div.slider div.slider-main {
  width: 100%;
  height: calc(100% - 20%);
  padding: calc(100vh / 25) 0 calc(100vh / 50);
}

section.gallery div.slider div.slider-main img,
section.gallery div.slider div.slider-padding img {
  object-fit: cover;
}

section.gallery div.slider div.slider-padding {
  display: flex;
  flex-flow: row nowrap;
  gap: calc(100vw / 50);
}

section.gallery div.description h2.title {
  font-size: calc(100vw / 14);
  margin: calc(100vh / 20) 0;
  font-weight: 700;
}

section.gallery div.description h3 {
  font-size: calc(100vw / 21);
  margin: calc(100vh / 40) 0;
  font-weight: 500;
}

section.gallery div.description h3.datetime {
  font-size: calc(100vw / 28);
  text-align: right;
  font-weight: 400;
}

@media screen and (orientation: landscape) {
  section.gallery {
    flex-flow: row nowrap;
  }

  section.gallery div.slider {
    max-height: calc(100vh - 160px);
    max-width: calc(60vw);
  }

  section.gallery div.description {
    flex: 1 0 0;
    padding: calc(100vh / 50);
    align-self: center;
  }

  section.gallery div.description h2.title {
    font-size: calc(100vh / 28);
    margin: calc(100vh / 40) 0;
  }

  section.gallery div.description h3 {
    font-size: calc(100vh / 42);
    margin: calc(100vh / 80) 0;
  }

  section.gallery div.description h3.datetime {
    font-size: calc(100vh / 56);
    text-align: left;
  }
}

/* section product */
section.product {
  background-color: var(--black);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

section.product div.product-list {
  flex: 1 0 0;
  display: flex;
  flex-flow: column nowrap;
}

section.product div.product-list div.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
}

section.product div.product-list div.pagination a.dot {
  background: var(--true-black);
  border-radius: 8px;
  height: 8px;
  width: 8px;
  margin: 6vw 2vw 4vw;
  transform: scale(0.75);
}

section.product div.product-list div.pagination a.dot.active {
  background: var(--true-white);
  transform: scale(1);
}

section.product div.product-list a.cards {
  flex: 1 0 0;
  position: relative;
}

section.product div.product-list a.cards li.card {
  position: absolute;
  width: 100%;
  list-style-type: none;
  opacity: 0;
  transform: translate(-5vw, -5vh);
}

section.product div.product-list a.cards li.card.active {
  opacity: 1;
  transform: translate(0, 0);
}

section.product div.product-list div.button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

section.product div.product-list div.button a {
  color: var(--true-white);
  margin: 4vw 0 6vw;
}

section.product div.title {
  color: var(--true-white);
  padding: 3vw 0;
}

section.product div.title h3.title {
  font-weight: 700;
  font-size: 14vw;
  line-height: 14vw;
  text-align: center;
}

section.product div.title p {
  font-weight: 500;
  font-size: 3vw;
  line-height: 3vw;
  text-align: center;
}

section.product div.description {
  background-color: var(--white);
  color: var(--black);
  border-radius: 10px;
  padding: 10px;
}

section.product div.description div.content {
  font-size: 3vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

section.product div.description div.content p {
  width: 70%;
}

section.product div.description div.content a {
  width: 25%;
  border-radius: 50px;
  line-height: 10vw;
  text-align: center;
  vertical-align: middle;
  background-color: var(--rainbow-1);
  color: var(--white);
}

section.product div.description div.information {
  margin: 10px 0;
  font-size: 4vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

section.product
  div.description
  div.information
  div.total-supply
  div.total-supply-title,
section.product div.description div.information div.minted div.minted-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

section.product div.description div.information div.total-supply p.number,
section.product div.description div.information div.minted p.number {
  font-size: 10vw;
  text-align: center;
}

section.product
  div.description
  div.information
  div.total-supply
  div.total-supply-title
  p,
section.product div.description div.information div.minted div.minted-title p {
  margin-left: 2vw;
}

@media screen and (orientation: landscape) {
  section.product {
    flex-flow: row nowrap;
  }

  section.product div.product-list {
    max-width: 50vw;
  }

  section.product div.product-list div.pagination a.dot {
    margin: 3vh 2vh;
  }

  section.product div.product-list div.button a {
    margin: 3vh 0;
  }

  section.product div.product-list a.cards li.card {
    width: 100%;
    height: 100%;
  }

  section.product div.product-list a.cards li.card div.thumbnail {
    width: 100%;
    height: 100%;
  }

  section.product div.product-list a.cards li.card div.thumbnail img {
    object-fit: contain;
  }

  section.product div.title h3.title {
    font-size: 10vh;
    line-height: 10vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  section.product div.title p {
    font-size: 3vh;
    line-height: 3vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  section.product div.title {
    margin: 0 1vw;
    display: flex;
    flex-flow: row-reverse nowrap;
  }

  section.product div.description {
    display: flex;
    flex-flow: column nowrap;
  }

  section.product div.description div.content {
    flex-flow: column nowrap;
    align-items: unset;
    font-size: 2vh;
    flex: 1 0 0;
    justify-content: space-evenly;
  }

  section.product div.description div.content p {
    text-align: center;
    width: 100%;
  }

  section.product div.description div.content a {
    width: 100%;
    margin: 1vh 0;
    line-height: 8vh;
  }

  section.product div.description div.information {
    font-size: 2vh;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1 0 0;
  }

  section.product div.description div.information div.total-supply p.number,
  section.product div.description div.information div.minted p.number {
    font-size: 6vh;
  }
}

/* top curve*/
.custom-shape-divider-top-1641922047 {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1641922047 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1641922047 .shape-fill {
  fill: #c3c3c3;
}

/* bottom curve*/
.custom-shape-divider-bottom-1641921850 {
  z-index: -999;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1641921850 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1641921850 .shape-fill {
  fill: #c3c3c3;
}

/* section claim */
canvas.canvas#claim-background {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--true-black);
}
section.claim {
  padding: 0;
}

section.claim div.header {
  height: 52px;
  background-color: var(--whiteO50);
  -webkit-box-shadow: 0 2px 3px 3px var(--black);
  -moz-box-shadow: 0 2px 3px 3px var(--black);
  box-shadow: 0 2px 3px 3px var(--black);
}

section.claim div.header div.menu a {
  color: var(--true-white);
}

section.claim div.cards {
  display: flex;
  margin: 10px 10px 0;
  height: calc(100vh - 75px);
  flex-flow: column nowrap;
}

section.claim div.cards div.content a {
  cursor: default;
}

section.claim div.cards div.content a:hover {
  opacity: 1;
}

section.claim div.cards a.cards-header {
  margin: 5px 0;
  background-color: var(--true-white);
  text-align: center;
  flex: 0 0 0;
}

section.claim div.cards a.cards-header p {
  color: var(--blue);
}

section.claim div.cards a.cards-header.first {
  border-radius: 10px 10px 0 0;
}

section.claim div.cards a.cards-header.last {
  border-radius: 0 0 10px 10px;
}

section.claim div.cards div.content {
  margin: 0;
  background-color: var(--blackO50);
  height: 0;
  overflow: hidden;
}

section.claim div.cards div.content.active {
  margin: 5px 0;
  flex: 1 0 0;
  overflow-y: auto;
  height: auto;
}

section.claim div.cards div.content a.card {
  display: block;
  padding: 16px 0;
  margin: 0 8px;
  border-bottom: 1px solid var(--white);
}

section.claim div.cards div.content a.card div.card-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

section.claim div.cards div.content a.card div.card-header img {
  background-color: var(--whiteO50);
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 16px;
  margin-right: 8px;
}

section.claim
  div.cards
  div.content
  a.card
  div.card-header
  div.card-header-title
  h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

section.claim
  div.cards
  div.content
  a.card
  div.card-header
  div.card-header-title
  div.card-header-title-second {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  font-weight: 400;
}

section.claim div.cards div.content a.card div.card-content {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 8px 0;
}

section.claim div.cards div.content a.card div.information p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-align: right;
}

section.claim div.cards div.content a.card.lg {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
}
section.claim div.cards div.content a.card.lg div.card-content,
section.claim div.cards div.content a.card.lg div.information p {
  padding: 40px 0;
  font-weight: 700;
}

section.claim div.cards div.content a.card.lg div.thumbnail img {
  width: 80vw;
}

@media screen and (orientation: landscape) {
  section.claim div.cards {
    /* width: 50%; */
    max-width: 480px;
  }

  section.claim div.cards div.content a.card.lg div.thumbnail {
    width: 80%;
  }

  section.claim div.cards div.content a.card.lg div.thumbnail img {
    width: 100%;
    transform: translateY(-80px);
  }

  section.claim div.cards div.content a.card.lg div.information p {
    transform: translateY(-160px);
  }
}

/* section modal */
section.modal {
  position: absolute;
  top: calc(100vh / 3);
  left: 2vw;
  width: 96vw;
  height: auto;
  background-color: var(--true-white);
  border-radius: 10px;
  color: var(--true-black);
  padding: 10px;
  transform: translateX(-5vw);
  opacity: 0;
}

section.modal div.dialog {
  transform: translateX(10vw);
  opacity: 0;
}

section.modal.active {
  transform: translateX(0);
  opacity: 1;
}

section.modal.active div.dialog {
  transition-delay: 0.25s;
  transform: translateX(0);
  opacity: 1;
}

section.modal div.dialog div.dialog-header {
  border-bottom: 1px solid var(--black);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

section.modal div.dialog div.dialog-header a,
section.modal div.dialog div.dialog-header span,
section.modal div.dialog form {
  padding: 10px;
}

section.modal div.dialog form div.form-error {
  text-align: center;
  color: red;
}

section.modal div.dialog form div.form-success {
  text-align: center;
  color: var(--green);
}

section.modal div.dialog form div.form-text,
section.modal div.dialog form div.form-checkbox {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-top: 8px;
}

section.modal div.dialog form div.form-text input {
  border: none;
  border-radius: 8px;
  height: 28px;
  background-color: var(--whiteO50);
  display: block;
  width: 100%;
  padding: 0 8px;
}

section.modal div.dialog form div.form-checkbox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

section.modal div.dialog form div.form-checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid var(--black);
}

section.modal div.dialog form div.form-button {
  width: 100%;
  border-radius: 8px;
  background-color: var(--black);
  margin-top: 16px;
  text-align: center;
}

section.modal div.dialog form div.form-button button {
  color: var(--true-white);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
